services:

  postgres:
    image: postgres:15
    container_name: inventory-db
    environment:
      POSTGRES_USER: inventory
      POSTGRES_PASSWORD: inventory123
      POSTGRES_DB: inventory_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U inventory"]
      interval: 5s
      timeout: 5s
      retries: 5


  backend:
    build: ./services/inventory-service
    container_name: inventory-backend

    environment:
      DATABASE_URL: postgresql+psycopg2://inventory:inventory123@postgres:5432/inventory_db

    depends_on:
      postgres:
        condition: service_healthy

    ports:
      - "8000:8000"

    restart: always


  frontend:
    image: nginx:alpine
    container_name: inventory-frontend
    volumes:
      - ./services/dashboard:/usr/share/nginx/html:ro
    expose:
      - "80"
    depends_on:
      - backend
    restart: always


  gateway:
    image: nginx:alpine
    container_name: inventory-gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    restart: always


volumes:
  postgres_data: